<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>今日のお天気</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="./css/line.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <img src="http://1.bp.blogspot.com/-kcV5lUNVWjk/U9y_l53j6tI/AAAAAAAAjfc/ksZGpirKWfM/s150/tenki_mark01_hare.png" alt="お天気さん" class="left-image"/>
    <div class="message_box">
        <p class="name_cs" th:text="${area}" />
        <div class="message_cs" th:text="${dateLabel} + 'は' + ${telop}" />
    </div>
</div>
</body>
</html>
